.main-elements-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 18px;
}

#content-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-user {
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 18px;
}

.red-text {
  color: red;
}

.task-container {
  display: flex;
  align-items: center;
}

.text-task  {
  font-size: 18px;
  color: black;
  margin-left: 8px;
}

.done-text { 
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.task-container img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
}